
<style>
h1{font-size:16px;}
.test{overflow:hidden;width:100%;margin:0;padding:0;list-style:none;}
.test li{float:left;
    width:100px;height:100px;margin:0 5px;border:1px solid #ddd;background-color:#eee;text-align:center;
    -moz-transition:background-color .5s ease-in;
    -webkit-transition:background-color .5s ease-in;
    -o-transition:background-color .5s ease-in;
    -ms-transition:background-color .5s ease-in;
    transition:background-color .5s ease-in;}
.test li:nth-child(1):hover{background-color:#bbb;}
.test li:nth-child(2):hover{background-color:#999;}
.test li:nth-child(3):hover{background-color:#630;}
.test li:nth-child(4):hover{background-color:#090;}
.test li:nth-child(5):hover{background-color:#f00;}

</style>
<script>
    
		$('#upgteimg').on('change',function () {
			var _this=$(this)
		    var data = new FormData()
			for(item in $(this)[0].files){
				data.append('key',$(this)[0].files[item])
			}
			$(this).val('')
			$.ajax({
					type:'POST',
					url:'add_zt_img'+'?'+Math.random(),
           			dataType : "JSON",
          			cache: false,
          			contentType: false,
          			processData: false,
					data:data,
					success:function (data) {
					    var first=""
                        if($('.zt_img_list').html()==""){
                            first='one'
                        }
					    $('.zhuti_ing_upload').val(data.result)
						for(item of data.result.split(',')){
						    var html=`
								<li class="el_bt_box">
									<img class="img_look  all_bt_size" src=${item+'?'+Math.random()}>
									<div>
										<a type="button" class="del_bt_img_item del_zhuti">删除</a>
										<a type="button" class="meituxiuxiu">编辑</a>
										<a type="button" class="bt_group_size">尺寸</a>
									</div>
									<div>
										<img src="static/img/Arrow_left.svg" class="go_left">
										<img src="static/img/Arrow_right.svg" class="go_right">
									</div>
								</li>
							`
							$('.zt_img_list').append(html)
						}
                        if(first==='one'){
                            $('.zhuti_ing_upload').val(data.result)
                        }else {
                            var new_zt=""
                            $('.zt_img_list>li>img').each(function () {
                                new_zt += $(this).attr('src').split('?')[0]+','
                            })
                            $('.zhuti_ing_upload').val(new_zt.slice(0,-1))
                        }
                        //删除
						$('.del_zhuti').on('click',function () {
							var src=$(this).parent().parent().children('img').attr('src').split('?')[0]
							$(this).parent().parent().remove()
							if($('.zhuti_ing_upload').val().replace(src+',',"")==$('.zhuti_ing_upload').val()){
								$('.zhuti_ing_upload').val($('.zhuti_ing_upload').val().replace(','+src,""))
							}else{
								$('.zhuti_ing_upload').val($('.zhuti_ing_upload').val().replace(src+',',""))
							}
							if(src==$('.zhuti_ing_upload').val()){
							    $('.zhuti_ing_upload').val("")
							}
						})
						
					}
				})
        })
	
</script>